<%- include("header") -%>

<div class="container-fluid whole-container">
    <h1 class="about-header about-desc text-center" style="text-decoration: none; color: green;">Our Committee</h1>

    <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="about-desc text-center" style="text-decoration: none; color: green;">International Advisory Committee</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 1" class="rounded-circle">
            <p>Name1</p>
            <p>Institution</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 2" class="rounded-circle">
            <p>Name2</p>
            <p>Institution</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 3" class="rounded-circle">
            <p>Name3</p>
            <p>Institution</p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      

      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="about-desc text-center" style="text-decoration: none; color: green;">Organising committee</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 1" class="rounded-circle">
            <p>Name1</p>
            <p>Institution</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 2" class="rounded-circle">
            <p>Name2</p>
            <p>Institution</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 3" class="rounded-circle">
            <p>Name3</p>
            <p>Institution</p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="about-desc text-center" style="text-decoration: none; color: green;">Local Organising Committee</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 1" class="rounded-circle">
            <p>Name1</p>
            <p>Institution</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 2" class="rounded-circle">
            <p>Name2</p>
            <p>Institution</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 3" class="rounded-circle">
            <p>Name3</p>
            <p>Institution</p>
          </div>
        </div>
      </div>


</div>

<%- include("footer") -%>