<%- include("header") -%>

<div class="container-fluid whole-container">
    <h1 class="about-header">Contact Us</h1>
    <br>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/gridville.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <div class="text-container">
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <h4>Inquiries about the Scientific Program and Content</h4>
                        <p>Mr. Narayan Guragain, Scientific Program Coordinator</p>
                        <p>E-mail: <a href="mailtgridville@ku.edu.np">gridville@ku.edu.np</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <h4>Inquiries about Sponsorship & Exhibition</h4>
                        <p>Miss Ashimita Shrestha, Industry Liaison & Sales Associate</p>
                        <p>E-mail: <a href="mailto:gridville@ku.edu.np">gridville@ku.edu.np</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <h4>Inquiries about Registration, Accommodation & Travel</h4>
                        <p>Mr. Prajwal Wagle, Registration & Accommodation Manager</p>
                        <p>E-mail: <a href="mailto:gridville@ku.edu.np">gridville@ku.edu.np</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <h4>Inquiries about Promotional Issues & Marketing</h4>
                        <p>Mr. Prajwal Wagle, Marketing Manager</p>
                        <p>E-mail: <a href="mailto:gridville@ku.edu.np">gridville@ku.edu.np</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <h4>Any Other Inquiries</h4>
                        <p>Mr. Narayan Guragain, Senior Project Manager</p>
                        <p>E-mail: <a href="mailto:gridville@ku.edu.np">gridville@ku.edu.np</a></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <h4>For any issues about membership or regarding society matters, please contact the ISEE Secretariat:</h4>
                        <p>ISEE Secretariat (GridVille Kathmandu University)</p>
                        <p>KU, Dhulikhel</p>
                        <p>Phone: +977 9741694593</p>
                        <p>E-mail: <a href="mailto:gridville@ku.edu.np">gridville@ku.edu.np</a></p>
                      </div>
                    </div>
                  </div>
                  
            </div>
          </div>
        </div>
      </div>
      
    

</div>

<%- include("footer") -%>