<%- include("header") -%>



  <div class="container">
      <h2>Explore Kathmandu</h2>
    <p>Welcome to Kathmandu, the vibrant capital city of Nepal, and the perfect backdrop for the GridVille Kathmandu University conference on renewable energy and its policies. Nestled in the heart of the Himalayas, Kathmandu is a city that seamlessly blends ancient traditions with modern developments. Explore the bustling streets, adorned with colorful prayer flags, and immerse yourself in the rich cultural heritage of this enchanting city.</p>

    <div class="image-container">
      <img src="images/kathmandu1.jpg">
    </div>

    <p>Discover historic sites like the UNESCO World Heritage-listed Kathmandu Durbar Square, soak in the spiritual ambiance at the sacred Boudhanath Stupa, or embark on a breathtaking adventure to the nearby serene valleys and majestic mountains.</p>

    <div class="image-container">
      <img src="images/kathmandu2.jpg">
    </div>

    <p>Kathmandu awaits you with its warm hospitality, captivating beauty, and endless possibilities. Join us at the conference and experience the unique charm of this extraordinary city.</p>
  </div>








  <%- include("footer") -%>
