
<%- include("header") -%>
    <header>
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span>Green. Energy.</span>
                </h1>
                <p>International Conference on Renewable Energy Policies</p>
                
            </div>
        </div>
    </header>


    <!-- Features -->
    <section id="features">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3>First</h3>
          <p>Identify the technological preparedness for energy systems in Nepal.</p>
        </div>
  
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3>Second</h3>
          <p>Identify and discuss the policies and framework promoting energy and its infrastructure.</p>
        </div>
  
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3>Third.</h3>
          <p>Build and promote network and partnership among the stakeholders for the energy development and the transition of Nepal.</p>
        </div>
      </div>
    </section>


    <!-- Testimonials -->
    <!-- <section id="cta">
        <h3 class="cta-title">Key Objectives</h3>
      </section> -->
    
      <section>
        <h2 class="my-5" style="text-align: center;">About Us</h2>
        <div class="container mt-5 mb-5">
          <div class="row g-2">
            <div class="col-md-6">
              <div class="card p-3 text-center px-4">
                <div class="user-image">
                  <img src="images/about1.jpeg" class="rounded-circle" width="80">
                </div>
                <div class="user-content">
                  <h5 class="mb-0 mt-2">About Conference</h5>
                  <span style="color: #495371">Conference Detail</span>
                  <p class="my-2" style="text-align: justify;"> Conference on Renewable Energy and its Policies, for both engineering and law, is a unique opportunity for students to learn about the various aspects of energy, including production, distribution, and consumption, as well as the legal frameworks that govern the industry. The Conference would bring together experts and students from the engineering and law fraternity to discuss and debate the current state of energy production and consumption, the challenges faced by the industry, and the potential solutions. The event would be an excellent platform for students to interact with experts and practitioners in the energy industry, including engineers, lawyers, policymakers, and academics. </p>
                </div>
                <div class="ratings">
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card p-3 text-center px-4">
                <div class="user-image">
                  <img src="images/gridville.jpg" class="rounded-circle" width="80">
                </div>
                <div class="user-content">
                  <h5 class="mb-0 mt-2">About GridVille</h5>
                  <span style="color: #495371">About GridVille</span>
                  <p class="my-2" style="text-align: justify;">
                     
                      The GridVille Program, a collaborative effort between Kathmandu University (KU) and the Norwegian University of Science and Technology (NTNU), is a pioneering initiative aimed at advancing the development of sustainable energy systems within a circular economy framework. With a focus on promoting renewable energy and fostering a more sustainable approach to resource management, the program seeks to address the pressing challenges posed by climate change and limited natural resources.
                     
                  </p>
                </div>
                <div class="ratings">
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                  <i class="icon fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <br>
    <br> 

    <!-- <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="photo-container">
              <img src="images/about1.jpeg" alt="" class="rounded-img">
            </div>
          </div>
          <div class="col-md-6">
            <div class="photo-description">
              <h3>About Conference</h3>
              <p>The Conference on Renewable Energy and its Policies, for both engineering and law, is a unique opportunity for students to learn about the various aspects of energy, including production, distribution, and consumption, as well as the legal frameworks that govern the industry. The Conference would bring together experts and students from engineering and law fraternity to discuss and debate the current state of energy production and consumption, the challenges faced by the industry, and the potential solutions. The event would be an excellent platform for students to interact with experts and practitioners in the energy industry, including engineers, lawyers, policymakers, and academics.</p>
            </div>
          </div>
        </div>
      </div>

    
    

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="photo-container">
              <img src="images/gridville.jpg" alt="" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="photo-description">
              <h3>About GridVille</h3>
              <p>The GridVille Program, a collaborative effort between Kathmandu University (KU) and the Norwegian University of Science and Technology (NTNU), is a pioneering initiative aimed at advancing the development of sustainable energy systems within a circular economy framework. With a focus on promoting renewable energy and fostering a more sustainable approach to resource management, the program seeks to address the pressing challenges posed by climate change and limited natural resources.</p>
            </div>
          </div>
        </div>
      </div> -->

      
      <section id="cta">      
      <!-- This is the form for sending message -->
      <div class="container">
        <div class="py-5 text-center">
            
            <h2 class="cta-title">Send us a Message</h2>
        
        </div>
    
        
            <div class="col-md-12 order-md-1">
                <form action="/contact_us" method="POST" class="needs-validation">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="placeName">Name</label>
                            <input type="text" class="form-control" id="placeName" placeholder="" value="" name = "name" required>
                            <div class="invalid-feedback">
                                Enter your name.
                            </div>
                        </div>
                    </div> 
    
                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted"></span></label>
                        <input type="email" class="form-control" id="email" name = "email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address
                        </div>
                    </div>
    
                    <div class="mb-3">
                        <label for="description">Your Message</label>
                        <textarea class="form-control" id="description" placeholder="" value="" rows="7" name = "message" required> </textarea>
                        <div class="invalid-feedback">
                            Description is required.
                        </div>
                    </div>
    
                    <hr class="mb-4">
    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
                </form>
            </div>
        </div>

      </section>
    <!-- end of header -->



    <%- include("footer") -%>
