<%- include("header") -%>

<div class="container-fluid whole-container">
    <h1 class="about-header about-desc text-center" style="text-decoration: none; color: green;">One Day Symposium</h1>

    <div class="container">
        
        
        <div class="row">
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 1" class="rounded-circle">
            <br>
            <p class="mb-1">Name1</p>
            <p class="mb-1">Institution</p>
            <p class="mb-1">Expertise</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 2" class="rounded-circle">
            <br>
            <p class="mb-1">Name2</p>
            <p class="mb-1">Institution</p>
            <p class="mb-1">Expertise</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 3" class="rounded-circle">
            <br>
            <p class="mb-1">Name3</p>
            <p class="mb-1">Institution</p>
            <p class="mb-1">Expertise</p>
          </div>
          <div class="col text-center">
            <img src="images/dp.jpeg" alt="Picture 3" class="rounded-circle">
            <br>
            <p class="mb-1">Name4</p>
            <p class="mb-1">Institution</p>
            <p class="mb-1">Expertise</p>
          </div>
        </div>
      </div>

      

    


</div>

<%- include("footer") -%>