<%- include ("header") -%>

<div class="container">
    <h2> Venue </h2>
    <p>The Radisson Hotel Kathmandu is a luxurious 5-star hotel situated in the heart of Kathmandu. It provides a perfect blend of sophistication, comfort, and elegance in a setting rich in history.</p>

    <img src="images/venue1.jpg" alt="Radisson Hotel Kathmandu" style="max-width: 100%; margin-bottom: 20px;">

    <p>Conveniently located at Durbar Marg, guests can enjoy easy access to the city's top shops, restaurants, and attractions, making it an ideal choice for discerning travelers seeking a central and upscale accommodation experience.</p>

    <img src="images/venue 2.jpg" alt="Durbar Marg" style="max-width: 100%; margin-bottom: 20px;">
</div>

<%- include("footer") -%>