<%- include("header") -%>

<div class="container">
    <h2>Visa and Travel Information</h2>
    <p>Some participants may need to obtain a visa before traveling to Nepal. Please check the official government website <a href="http://www.nepalimmigration.gov.np/page/visa">http://www.nepalimmigration.gov.np/page/visa</a> to determine if a visa is required for your country.</p>

    <p>If you require assistance with your visa application, please contact our visa support team at <a href="mailto:conference@mail.com">conference@mail.com</a> or call <a href="tel:+123456789">+123456789</a>.</p>

    <h2>Important Documents:</h2>
    <ul>
      <li>Invitation letter from the symposium organizing committee.</li>
      <li>Proof of symposium registration and payment.</li>
      <li>Accommodation booking details.</li>
      <li>Flight itinerary or reservation.</li>
    </ul>

    <h2>Resources:</h2>
    <p>For detailed visa information and application procedures, visit <a href="http://www.nepalimmigration.gov.np/page/visa">http://www.nepalimmigration.gov.np/page/visa</a>. Please note that visa requirements and procedures may vary, so it is essential to refer to the official sources and plan accordingly.</p>

    <h2>Invitation Letter Request:</h2>
    <p>Please include the following details in your invitation letter request:</p>
    <ul>
      <li>Participant’s Full Name and Title</li>
      <li>Name of the Organization (University, Company, etc.) and Department</li>
      <li>Nationality</li>
      <li>Passport Number, Dates of Issue, and Expiry</li>
      <li>Dates of Stay</li>
      <li>Date of Birth</li>
      <li>Address of the Organization and Residence</li>
      <li>A valid email address</li>
    </ul>
  </div>

  <%- include("footer") -%>